<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ message }}
  </h1>
 <!-- <app-login></app-login>
 <app-property-binding></app-property-binding> -->
 <!-- <app-class-binding></app-class-binding> -->
 <!-- <app-style-binding></app-style-binding> -->
 <!-- <app-event-binding></app-event-binding> -->
 <!-- <app-twoway-binding></app-twoway-binding> -->
 <!-- <app-ng-if></app-ng-if> -->
 <!-- <app-ng-switch></app-ng-switch> -->
 <!-- <app-ngfor></app-ngfor> -->
 <!-- <app-component-interaction (childEvent)= "message=$event" [parentData]="uname"></app-component-interaction> -->
 <app-pipes></app-pipes>
</div>

<router-outlet></router-outlet>
